<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title> ASI Developers - ASI Developers </title>
		<link href="/css/bootstrap.css" rel="stylesheet">
          @*@Styles.Render("~/Content/css")*@
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        @*<script type="text/javascript" src="@Url.Content("~/Scripts/smartlink/developers_scripts.js")"></script>*@

		<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon/ESPS.ico")">
	</head>
	<body>
		<form name="form1" method="post" id="form1">
			<div id="ctl04_MainZone" class="mainWrapper">
				<div id="ctl04_Module_87147" class="asiModule AppToolbarLite" ismodule="True">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<a href="/" class="brand"><strong>asi</strong>developers</a>
                                <div id="menulist"></div>
								<ul class="nav support pull-right">
									<li><span id="ctl04_ctl00_lblSupport">Product Support (800) 546-1350, option 2</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="ctl04_Module_87325" class="asiModule ContentLight" ismodule="True">
					<div>
						<div class="home">
							<div class="container">
								<div class="row">
									<div class="span5">
										<div class="marginTop20 marginBot20">
											<h1>Direct access to the most powerful database in the industry.</h1>@Html.ActionLink("Get Started", "Overview", "Home", null, new {@class = "btn styled get_started" })
											<p>
												&nbsp;
											</p>
										</div>
									</div>
									<div class="span7">
										<ul class="banner_rotation">
											<li class="active"><img alt="Product Data" src="/images/devl/ProductData.jpg">
											</li>
											<li><img alt="Supplier Info" src="/images/devl/SupplierInfo.jpg">
											</li>
											<li><img alt="News &amp; Video" src="/images/devl/NewsVideo.jpg">
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="graybg">
								<div class="container">
									<div class="row">
										<div class="span6">
											<div class="marginTop20 marginBot20">
                                                <h2>What's Available</h2>
											<ul class="sub-breadcrumb1">
											<li>
												<a href="/smartlink/api">Smart Link API</a>
											</li>
											<li>
												<a href="/espupdates/api">ESP Updates API</a>
											</li>
                                            <li>
												<a href="/connect/api">Connect API</a>
											</li>
                                                
                                               
										</ul>
											</div>
										</div>
										<div class="span6">
											<div class="marginTop20 marginBot20">
												<h2 class="uppercase">About ASI Developers</h2>
												<p>It's a solution that provides customers with direct access to ASI's Supplier and Product Data to integrate with their internal applications, e-commerce website or other custom projects.</p>
												<br>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<script type="text/javascript">
						    $(document).ready(function () {
						        bannerScroll();
						    });

						</script>
					</div>
				</div>
				<div id="ctl04_Module_87079" class="asiModule ContentLight" ismodule="True">
					<div>
						<div class="clear"></div>
						<div class="subFooter styled clearfix">
							<div class="container">
								<div class="row">
									<div class="span3">
										<h5>Have questions?</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/asp/open/customersupport/productsupport/logomall.aspx">Product Support</a>
											</li>
											<li>
												<a href="mailto:support@asicentral.com?subject=Feedback">Feedback</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>ASI Store</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=135">ESP Web</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=138">ESP Orders</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=4">LogoMall</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=18">CreditConnect</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore">more &gt;</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>Community</h5>
										<ul>
											<li>
												<a href="http://asicentral.com/">ASI Central</a>
											</li>
											<li>
												<a href="http://timandrewsblog-asicentral.com/timblog/">Tim Andrews Blog</a>
											</li>
											<li>
												<a href="http://www.facebook.com/pages/ASICentral/55248546043">ASI Facebook</a>
											</li>
											<li>
												<a href="http://www.youtube.com/user/asicentral">ASI YouTube</a>
											</li>
											<li>
												<a href="http://twitter.com/asicentral">ASI Twitter</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>Company</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/asp/open/AboutASI/default.aspx">About ASI</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/AboutASI/pressRoom/default.aspx">Press Releases</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/asicareers/default.aspx">ASI Careers</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/CustomerSupport/support.aspx">Contact Us</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="copyright clearfix">
									<div class="span6">
										<span class="asiLogo"></span>
									</div>
									<div class="span6 alignRight copy">
										2012, Advertising Specialty Institute&reg;. All rights reserved.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<script type="text/javascript" src="/js/developers_scripts.js"></script>
	</body>
</html>