<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title> ASI Developers - REST API Resources</title>
				<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
 		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/smartlink/developers_scripts.js")"></script>
		<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon/ESPS.ico")">
	</head>
	<body>
		<form name="form1" method="post" id="form1">
			<div id="ctl04_MainZone" class="mainWrapper">
				<div id="ctl04_Module_87147" class="asiModule AppToolbarLite" ismodule="True">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<a href="/" class="brand"><strong>asi</strong>developers</a>
                                <div id="menulist"></div>
								<ul class="nav support pull-right">
									<li><span id="ctl04_ctl00_lblSupport">Product Support (800) 546-1350, option 2</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="ctl04_Module_86328" class="asiModule ContentLight" IsModule="True">
					<div>
						<div class="container">
							<div id="breadcrumbs">
								<div class="breadcrumb">
                                    <a href="/">Home</a>
                                    --->
                                    <a href="/overview">Overview</a>
                                    --->
									<a href="/smartlink/api">Resources</a>
								</div>
							</div><div id="quickjump_api"></div><h1 id="title">REST API Resources</h1>
							<div class="content-main">
								<div class="view api-docs">
									<div class="content">
										<!-- Lists --><a id="lists"></a><h3>Lists</h3>
										<p>
											Lists are collections of items, ordered with the most recent first.
										</p>
										<table class="apiList">
											<thead>
												<tr>
													<th width="35%">Resource</th><th width="65%">Description</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>@Html.ActionLink("GET lists/auto_complete/:dimension", "GetListbyDimension", "Smartlink")</td><td>Retrieve a list of values represented by the given dimension.</td>
												</tr>
												<tr>
													<td>@Html.ActionLink("GET lists/news", "GetNews", "Smartlink")</td><td>Keep up to date on the latest industry news.</td>
												</tr>
												<tr>
													<td>@Html.ActionLink("GET lists/news/:id", "GetNewsbyID", "Smartlink")</td><td>Retrieve a news article represented by the given id.</td>
												</tr>
											</tbody>
										</table>
										<!-- Products --><a id="products"></a><h3>Products</h3>
										<p>
											These methods allow you to find products.
										</p>
										<table class="apiList">
											<thead>
												<tr>
													<th width="35%">Resource</th><th width="65%">Description</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>@Html.ActionLink("GET products/search", "GetProducts", "Smartlink")</td><td>Find relevant products based on queries performed by end-users.</td>
												</tr>
												<tr>
													<td>@Html.ActionLink("GET products/:id", "GetProductbyID", "Smartlink")</td><td>Retrieve the information of the product represented by the given id.</td>
												</tr>
											</tbody>
										</table>
										<!-- Suppliers --><a id="suppliers"></a><h3>Suppliers</h3>
										<p>
											These methods allow you to find suppliers.
										</p>
										<table class="apiList">
											<thead>
												<tr>
													<th width="35%">Resource</th><th width="65%">Description</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>@Html.ActionLink("GET suppliers/search", "GetSuppliers", "Smartlink")</td><td>Find relevant suppliers based on queries performed by end-users.</td>
												</tr>
												<tr>
													<td>@Html.ActionLink("GET suppliers/:id", "GetSupplierbyID", "Smartlink")</td><td>Retrieve the information of the supplier represented by the given id.</td>
												</tr>
											</tbody>
										</table>
                                        	<!-- Decorators --><a id="A1"></a><h3>Decorators</h3>
										<p>
											These methods allow you to find decorators.
										</p>
										<table class="apiList">
											<thead>
												<tr>
													<th width="35%">Resource</th><th width="65%">Description</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>@Html.ActionLink("GET decorators/search", "GetDecorators", "Smartlink")</td><td>Find relevant decorators based on queries performed by end-users.</td>
												</tr>
												<tr>
													<td>@Html.ActionLink("GET decorators/:id", "GetDecoratorbyID", "Smartlink")</td><td>Retrieve the information of the decorators represented by the given id.</td>
												</tr>
											</tbody>
										</table>
									
										<!-- Media --><a id="media"></a><h3>Media</h3>
										<p>
											These methods allow you to retrieve images from ASI's CDN.
										</p>
										<table class="apiList">
											<thead>
												<tr>
													<th width="35%">Resource</th><th width="65%">Description</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>@Html.ActionLink("GET media/:id", "GetMediabyID", "Smartlink")</td><td>Retrieve product images.</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="ctl04_Module_87079" class="asiModule ContentLight" IsModule="True">
					<div>
						<div class="clear"></div>
						<div class="subFooter styled clearfix">
							<div class="container">
								<div class="row">
									<div class="span3">
										<h5>Have questions?</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/asp/open/customersupport/productsupport/logomall.aspx">Product Support</a>
											</li>
											<li>
												<a href="mailto:support@asicentral.com?subject=Feedback">Feedback</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>ASI Store</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=135">ESP Web</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=138">ESP Orders</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=4">LogoMall</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=18">CreditConnect</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore">more &gt;</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>Community</h5>
										<ul>
											<li>
												<a href="http://asicentral.com/">ASI Central</a>
											</li>
											<li>
												<a href="http://timandrewsblog-asicentral.com/timblog/">Tim Andrews Blog</a>
											</li>
											<li>
												<a href="http://www.facebook.com/pages/ASICentral/55248546043">ASI Facebook</a>
											</li>
											<li>
												<a href="http://www.youtube.com/user/asicentral">ASI YouTube</a>
											</li>
											<li>
												<a href="http://twitter.com/asicentral">ASI Twitter</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>Company</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/asp/open/AboutASI/default.aspx">About ASI</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/AboutASI/pressRoom/default.aspx">Press Releases</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/asicareers/default.aspx">ASI Careers</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/CustomerSupport/support.aspx">Contact Us</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="copyright clearfix">
									<div class="span6">
										<span class="asiLogo"></span>
									</div>
									<div class="span6 alignRight copy">
										2012, Advertising Specialty Institute&reg;. All rights reserved.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</body>
</html>
